@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yekan';
  src: url('../assets/fonst/yekan/Yekan.eot');
  src: url('../assets/fonst/yekan/Yekan.woff');
  font-weight: 400;
  font-style: normal;
  }
  @font-face {
    font-family: 'Sans';
    src: url('../assets/fonst/iransans/IRANSansWeb.ttf');
    font-weight: 400;
    font-style: normal;
    }
p , span{
  font-family: 'Sans' !important;
}

/* colors */
.bg-red {
  background: linear-gradient(252.18deg, #d72339 0.28%, #f23b51 93.8%);
}
.text-red {
  color: #C2123C;
}
.bg-gray-1 {
  background-color: #f7f7f7;
}
.text-c-black {
  color: #212121 !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.transparent-bg {
  background: rgba(255, 255, 255, 0.08);
}
